
.generic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
  margin-bottom: -25px;
  margin-top: -10px;
}


.cards{
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px; 
}

.section {
  border: 1px;
  margin-top: 20px;
  margin-left: -1px;
  color:black;
  text-align: left;
}

.section h1 {
  text-align: left;
  margin-bottom: -10px;
}

.ancho {
  max-width: 420px;
}

.swipe {
  position: absolute;
}

.cardContainer {
  width: 90vw;
  max-width: 260px;
  height: 300px !important;
}

.nopets {
  width: 100vw;
}

.text {
  width: 90vw;
  margin: auto;
  text-align: center;
}

.loading {
  width: 90vw;
  margin: auto;
  margin-top: 350px;
  text-align: center;
}

.ad {
  width: 50%; /* O cualquier otro ancho deseado */
  margin: 0 auto;
  text-align: center;
}

.centrar-texto {
  display: block; /* Para que el texto ocupe todo el ancho disponible */
  color: #808080;
}

.card {
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 260px;
  height: 300px !important;
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  
}

.cardContent {
  width: 100%;
  height: 100%;
}


.infoText {
  width: 100%;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
}

.profile{
  float: right;
}

ion-img.logoheader{
  width: 90%;
  height: 90%;
  position: absolute;
  left: 5%;
  bottom: 5%;
}

.macho {
  --background: #3498db; /* Azul */
}

.hembra {
  --background: #e74c3c; /* Rosa */
}

.buttons{
  margin-right: 40px;
  margin-left: 40px;
}

.likebutton{
  float: right;
}

/* Animación para deslizar a la izquierda */
@keyframes swipe-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Animación para deslizar a la derecha */
@keyframes swipe-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

